@font-face {
  font-family: Inter-UI-Black;
  src: url('./fonts/Inter-UI/Inter-UI-Black.woff');
}

@font-face {
  font-family: Inter-UI-BlackItalic;
  src: url('./fonts/Inter-UI/Inter-UI-BlackItalic.woff');
}

@font-face {
  font-family: Inter-UI-Bold;
  src: url('./fonts/Inter-UI/Inter-UI-Bold.woff');
}

@font-face {
  font-family: Inter-UI-BoldItalic;
  src: url('./fonts/Inter-UI/Inter-UI-BoldItalic.woff');
}

@font-face {
  font-family: Inter-UI-Italic;
  src: url('./fonts/Inter-UI/Inter-UI-Italic.woff');
}

@font-face {
  font-family: Inter-UI-Medium;
  src: url('./fonts/Inter-UI/Inter-UI-Medium.woff');
}

@font-face {
  font-family: Inter-UI-MediumItalic;
  src: url('./fonts/Inter-UI/Inter-UI-MediumItalic.woff');
}

@font-face {
  font-family: Inter-UI-Regular;
  src: url('./fonts/Inter-UI/Inter-UI-Regular.woff');
}

:root {
  /* Colors */
  --white: #FFFFFF;
  --black: #000000;
  --gray: #B8B8B8;
  --primary-color: #5182A0;
  --secondary-color: #A5CEE7;
  --highlight: #ED8862;
  --warning: #E86062;

  /* Fonts */
  --regular: 'Inter-UI-Regular';
  --black: 'Inter-UI-Black';
  --black-italic: 'Inter-UI-BlackItalic';
  --bold: 'Inter-UI-Bold';
  --bold-italic: 'Inter-UI-BoldItalic';
  --italic: 'Inter-UI-Italic';
  --medium: 'Inter-UI-Medium';
  --medium-italic: 'Inter-UI-MediumItalic';
  
  font-size: 10px;
}

body {
  margin:0;
  padding:0;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--regular), sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}